<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sign In</title>
    </head>
    <body>
        <h1>Sign In</h1>
        <% if (errorMessage) { %>
        <p style="color: red"><%= errorMessage %></p>
        <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">Sign In</button>
        </form>
        <p>
            No account yet?
            <a href="/signup"> Register </a>
        </p>
    </body>
</html>
